<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISEP Ginásio</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../../frontend/assets/img/gym125.png"
      type="image/png"
    />

    <!-- Folha de estilos css -->
    <link rel="stylesheet" href="../assets/css/admin.css" />
  </head>
  <body>
    <!-- Navbar -->
    <header class="bng-navbar-menu">
      <div>
        <!-- Logo e Nome -->
        <a href="../index.html">
          <img
            src="../../frontend/assets/img/gym125_white.png"
            alt="Logo do ISEP Ginásio"
            height="50"
          />
        </a>
        <h3>ISEP Ginásio</h3>
      </div>
      <div>
        <button>Utilizador</button>
      </div>
    </header>
    <!-- Sidebar -->
    <aside class="sidebar">
      <h4>Menu</h4>
      <nav>
        <a href="clientes.html">Clientes</a>
        <a href="agendamento.html">Agendamento de treinos</a>
        <a href="planos_treino.html">Planos de Treino</a>
        <a href="equipamentos.html">Equipamentos</a>
        <a href="produtos_servicos.html">Produtos e Serviços</a>
      </nav>
    </aside>
    <!-- Conteúdo Principal -->
    <main class="content">
      <section>
        <h2>Produtos e Serviços</h2>
        <p>Conheça a nossa loja, onde pode encontrar produtos e serviços exclusivos.</p>
      </section>
    </main>
  </body>
</html>